<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Welcome to Market Minder!,</h2>
    <br>
    <p>
      Congratulations on getting your account approved. You can now start buying and selling stocks.
    </p>
    <br>
    <p>Have a great day!</p>
  </body>
</html>
