<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello user,</h2>
    <br>
    <p> Your account is currently being reviewed for approval. </p>
    <br>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
